.Facts{
    margin-top: 250px;
}
.section-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    background-color: #f9f5ed; /* Light background color */
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section.reverse {
    flex-direction: row-reverse; /* Image on left for reversed sections */
}

.section-text {
    flex: 1;
    margin-right: 20px;
    color: #354048;
}

.section-text h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #354048; /* Dark text color */
    margin-bottom: 10px;
}

.section-text p {
    font-size: 1.2rem;
    color: #626f77;
}

.section-image {
   
    flex: 1;
}

.section-image img {
    width: 400px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .section.reverse {
        flex-direction: column;
    }

    .section-text {
        margin-right: 0;
        text-align: center;
    }

    .section-image {
        margin-top: 20px;
    }
}
