.shop-support-container {
    background-color: #f7f2e8;
    padding: 50px;
    text-align: center;
  }
  
  .shop-title {
    font-size: 36px;
    color: #2e3d28;
    margin-bottom: 10px;
  }
  
  .shop-subtitle {
    font-size: 18px;
    color: #2e3d28;
    margin-bottom: 40px;
  }
  
  .partner-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .partner-box {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .partner-logo {
    width: 80px;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  
  .partner-title {
    font-size: 24px;
    color: #2e3d28;
    margin-bottom: 10px;
  }
  
  .partner-description {
    font-size: 16px;
    color: #4f4f4f;
    line-height: 1.5;
  }